<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>LMS CETI</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/sidebars.css" rel="stylesheet">
        <link href="sidebars.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>

    <body>
        <main class="d-flex flex-nowrap overflow-auto"> 
			<%- include('include/_navBar')%>
                <div class="container overflow-auto" >
                	          	<form action="/grades" method="GET">
                		<div class="container">
					<input type = "hidden" name = "classroomId"  id = "classroomId" value ="">
        				<button type="submit" class="btn btn-primary ">Checar calificaciones</button>
				</div>
			</form>		
			<%- include('include/_publication')%>

		</div>
            </div>
            <script src="js/bootstrap.bundle.min.js"></script>  
            <script src="js/sidebars.js"></script>  	
	    <script type="text/javascript">
		const queryString = window.location.search;
		const urlParams = new URLSearchParams(queryString);
		const idClassroom = urlParams.get('publicationId')
	
		document.getElementById("classroomId").value = idClassroom
        </script>
            <script src="js/bootstrap.bundle.min.js"></script>  
            <script src="js/sidebars.js"></script>  
        </main>
    </body>
</html>
