<div class="container ">
	<div class="card mt-5">
		<div class="card-body">
		<h4 class="card-title">Asignar fechas academicas</h4>
      		<form action="api/timeAssignment" method="POST">
			<div class="form-group">

			          <label for="startDate" class="form-label">Inicio de semestre</label>
			          <div class="input-group mb-3 col-3">
			            <input id="startSemester" name="startSemester" class="form-control" type="date"/>
			          </div>
				 
				  <label for="startDate" class="form-label">Fin de semestre</label>
			          <div class="input-group mb-3 col-3">
			            <input id="endSemester" name="endSemester" class="form-control" type="date"/>
			          </div>

				  <label for="startDate" class="form-label">Inicio de primer parcial</label>
			          <div class="input-group mb-3 col-3">
			            <input id="startFirstPartial" name="startFirstPartial" class="form-control" class="form-control" type="date"/>
			          </div>

				  <label for="startDate" class="form-label">Inicio de segundo parcial</label>
			          <div class="input-group mb-3 col-3">
			            <input id="startSecondPartial" name="startSecondPartial" class="form-control" type="date"/>
			          </div>

				  <label for="startDate" class="form-label">Inicio de tercer parcial</label>
			          <div class="input-group mb-3 col-3">
			            <input id="startThirdPartial" name="startThirdPartial" class="form-control" type="date"/>
			          </div>
	

				<div class="col-12">
					<button type="submit" class="btn btn-primary">Asignar</button>
				</div>
			</div>
		</form>
  		</div>
	</div>
</div>


