<div class="container">
	<div class="card mt-5">
		<div class="card-body">
		<h4 class="card-title">Crear materia</h4>
      		<form action="api/subjects" method="POST">
			<div class="form-group">
            			
				<div class="input-group mb-3">
					<div class="col-8">
						<label for="inputTitle" class="form-label">Nombre de materia</label>
						<input type="text" class="form-control" id="name" name="name">
					</div>
				</div>

				<label for="exampleFormControlSelect1">Ponderacion</label>
				<div class="input-group mb-3">
					<select class="form-select" id="weight" name="weight">
						<option value="A">A</option>
						<option value="B">B</option>
						<option value="C">C</option>
					</select>
				</div>

				<div class="input-group mb-3">
					<div class="col-8">
						<label for="inputTitle" class="form-label">Horas</label>
						<input type="number" class="form-control" id="hoursPerWeek" name="hoursPerWeek" min="1" max="5">
					</div>
				</div>

				<div class="col-12">
					<button type="submit" class="btn btn-primary">Crear</button>
				</div>
			</div>
		</form>
  		</div>
	</div>
</div>
