<div class="container ">
	<div class="card mt-5">
		<div class="card-body">
			<h4 class="card-title">Crear Grupo</h4>
			<form action="api/groups/create" method="POST">
				<div class="form-group">
					<div class="col-4">
            					<div class="input-group mb-3">
							<input type="text" class="form-control" id="group" placeholder="grupo" name="group">
						</div>
					</div>
					<div class="col-12">
						<button type="submit" class="btn btn-primary">Crear grupo</button>
					</div>
				</div>
			</form>
		</div>	
	</div>
</div> 
