<!--NAVIGATION BAR-->
<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
          <li class="nav-item">
		<a href="/postulates" class="nav-link py-3 border-bottom rounded-0" aria-current="page" title="Revision de postulados" data-bs-toggle="tooltip" data-bs-placement="right">
			<i class="bi bi-person-check-fill"></i>
		</a>
          </li>
          <li>
		<a href="/assignDate" class="nav-link py-3 border-bottom rounded-0" title="Asignacion de fechas" data-bs-toggle="tooltip" data-bs-placement="right">
			<i class="bi bi-calendar-date"></i>
		</a>
          </li>
          <li>
		<a href="/drop" class="nav-link py-3 border-bottom rounded-0" title="Baja de alumnos" data-bs-toggle="tooltip" data-bs-placement="right">
			<i class="bi bi-person-x-fill"></i>
		</a>
          </li>
	  <li>
		<a href="/assignGroups" class="nav-link py-3 border-bottom rounded-0" title="Asignar alumnos a grupos" data-bs-toggle="tooltip" data-bs-placement="right">
			<i class="bi bi-person-plus-fill"></i>
		</a>
          </li>
        </ul>

        <div class="dropdown border-top">
          <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false"></a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
            <li><a class="dropdown-item" href="/login">Sign out</a></li>
          </ul>
        </div> 
</div>
