<%publication.forEach(publication =>{%>
	<div class="card mt-4">
		<div class="card-body">
			<h4 class="card-title"><%= publication.title %></h4>
			<div class="card-subtitle text-muted mb-2"><%= publication.publicationDate.substring(0,10) %></div>
                       	<form action="/checkHomework" method="GET">
				<input type = "hidden" name = "publicationId" value =<%= publication._id %> />
                        	<button type="submit" class="btn btn-primary">Revisar</button>
			</form>		
		</div>
	</div>
<%})%>
